.basket{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
    
}
.bst img{
width: 150px;
height: 150px;
}
.bst{
    width: 28%;
    border:1px solid blue;
    padding-top: 30px;
    background-color: rgb(224, 208, 208);
    padding-bottom: 20px;
}

.two{
    margin: 0 5px;
    background-color: brown;
    color: white;
    border: none;
    padding: 5px 5px;
}
